.table {
  margin-top: 20px;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
}

.column {
  padding: 2px 4px;
  flex: 1;
}

.headers .column {
  font-weight: 600;
}

.row {
  border-top: 1px solid;
}

.totals {
  margin-top: 20px;
}