.host {
  text-align: center;
}

.headline {
  font-size: 20px;
}

.headline strong {
  font-weight: 600;
}

.resultWrapper {
  padding-top: 60px;
}

.result {
  padding: 20px 0;
  font-size: 32px;
  font-weight: 600;
}